html, body {
    background-image: linear-gradient(315deg, #0FCD84, #0FCD84 31%, #0182B4 31%, #0182B4 41%, #FFCD51 41%, #FFCD51 100%);
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#column {
    display: solid;
    position: absolute;
    z-index: -1;
    color: rgba(255, 127, 80, 0);
    background-color: rgba(255, 127, 80, 0.395);
    height: 100%;
    column-count: 12;
    column-gap: 40px;
    column-rule: 20px solid rgba(255, 255, 255, 0.379);
}





#how-displayed-vet-page {
    display: flex;
    flex-direction: row;
}



#left-box-vet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#veto-profil-pic {
    width: 20rem;
    margin-top: 6rem;
    margin-left: 9.6rem;
    border-radius: 20px;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 6px;
}

#firstname-lastname-vet {
    margin-top: 3rem;
    margin-left: 9.6rem;
    font-size: 1.2rem;
    background-color: #F0F0EF;
    border-style: solid;
    border-width: 6px;
    border-radius: 20px;
    border-color: #D9D9D9;
    width: 300px;
    height: 100px;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}

#back-button {
    margin-top: 20rem;
    margin-left: 9.6rem;
    font-size: 1.2rem;
    background-color: #D0E0CD;
    border-style: solid;
    border-width: 6px;
    border-radius: 25px;
    border-color: #F0F0EF;
    width: 10rem;
    height: 3.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
}




#right-box-vet {
    position: relative;
    width: 90.29rem;
    height: 53rem;
    background-color: #F0F0EF;
    border-style: solid;
    border-width: 8px;
    border-radius: 20px;
    border-color: #D9D9D9;
    margin-top: 6rem;
    margin-left: 2rem;
}

#top-light-green {
    position: absolute;
    z-index: 0;
    height: 8rem;
    width: 90.29rem;
    background-color: #D0E0CD;
}

#auto-email-text {
    position: absolute;
    z-index: 1;
    margin-left: 20rem;
    margin-top: 2.2rem;
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    width: 65rem;
    background-color: #F0F0EF;

}

#button-on-off-box {
    position: relative;
    z-index: 1;
    margin-left: 81.6rem;
    margin-top: 2.8rem;
    width: 4rem;
    height: 2rem;
    border: 6px solid #DBDBDB;
    border-radius: 25px;
    background-color: transparent;
    overflow: hidden;
}

#button-on-off-inside {
    position: absolute;
    z-index: 0;
    margin-left: -6px;  /* -6px -96px  */
    margin-top: -6px;
    width: 10rem;
    height: 2.75rem;
    background-image: linear-gradient(90deg, #4DE9AD, #4DE9AD 50%, #b21652 50%, #b21652 100%);
}

#button-on-off-round {
    position: absolute;
    z-index: 1;
    width: 1.91rem;
    height: 1.91rem;
    border: 1px solid #F0F0EF;
    border-radius: 25px;
    background-color: #F0F0EF;
    margin-left: 31px;    /* 0px  31.5px  */
}

#left-light-blue {
    position: absolute;
    z-index: 1;
    height: 53rem;
    width: 18rem;
    background-color: #65C5BE;
}

#owner-name{
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 3rem;
    font-family: 'Inter', sans-serif;
}

#pet-box {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 12.625rem;
    height: 15.2rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #D9D9D9;
    margin: 2.4rem;
    cursor: pointer;
    background-color: #F0F0EF;
    top: 2rem;
}

#pet-icon {
    width: 12rem;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 5px;
}

#pet-text {
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
    margin: 10px 5px;
    font-family: 'Inter', sans-serif;
}

#pet-info {
    position: absolute;
    z-index: 2;
    top: 21rem;
    left: 3rem;
    font-family: 'Inter', sans-serif;
}





#pet-appointment-box {
    position: absolute;
    top: 8rem;
    left: 18rem;
    z-index: 3;
    width: 72rem;
    height: 45rem;
    overflow-y: scroll;
}

#last-vaccine-date {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 2rem;
    font-family: 'Inter', sans-serif;
}

#response-php-email {
    color: green;
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 31rem;
    font-family: 'Inter', sans-serif;
}

.rdv-title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 6rem;
    font-family: 'Inter', sans-serif;
}

.rdv-info {
    margin-left: 2rem;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width: 65rem;
    background-color: #D9D9D9;
}

